.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222439;
    font-size: 15px;
    padding: 5px;
    width: 100%;
    height: 20%;
}

.form {
    width: 100%;
    border-radius: 5%;
    border: none;
}

.input {
    padding: 3px;
    background-color: #fff;
}

.input::placeholder {
    color: gray;
}

.button {
    background-color: #F1842F;
    color: #fff;
}