.main {
    width: 100%;
    padding: 0 3px;
    height: 60%;
}

.todos {}

.todo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
}

.checkbox {
    border: 2px solid #bcbcbc;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.checkboxContainer {
    display: flex;
    align-items: center;
}

.checkbox:checked+label {
    background-color: #F1842F;
    color: black;
}

.checkbox:focus {
    background-color: #F1842F;
    color: black;
}

.label {
    color: #fff;
    font-size: 20px;
    margin-left: 5px;
}

.trash {
    width: 30px;
    height: 30px;
    background-color: #222439;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.trashIcon {
    font-size: 25px;
    color: white;
}