.main {
    width: 100%;
    padding: 0 3px;
    height: 60%;
    background-color: #CE7777;
}

.dark.main {
    background-color: #222222;
}


.todo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
}

.checkbox {
    border: 2px solid #F2E5E5;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.dark.todos.checkbox {
    border: 2px solid #434242;
}

.checkboxContainer {
    display: flex;
    align-items: center;
}

.dark.todos.checkbox:checked+label {
    color: #434242;
}

.checkbox:checked+label {
    color: #fff;
}

.dark.todos.checkbox:checked+label::after {
    background-color: #434242;
}

.checkbox:checked+label::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #DC3535;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.checkbox {
    -webkit-appearance: none;
    position: relative;
    width: 16px;
    height: 16px;
    cursor: pointer;
    outline: none !important;
    border-radius: 2px;
    background: #fff;
}

.checkbox::before {
    content: "\2713";
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: scale(0) translate(-50%, -50%);
    line-height: 1;
    color: black;
    font-size: 16px;
    font-weight: 600;
}

.dark.todos.checkbox:checked {
    background-color: #434242;
    border: 1px solid #434242;
}

.checkbox:checked {
    background-color: #DC5F00;
    border: 1px solid #DC5F00;
}

.checkbox:checked::before {
    border-radius: 2px;
    transform: scale(1) translate(-50%, -50%)
}

.label {
    position: relative;
    color: #fff;
    font-size: 20px;
    margin-left: 5px;
}

.dark.trash {
    background-color: #434242;
}

.trash {
    width: 30px;
    height: 30px;
    background-color: #E8C4C4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.trashIcon {
    font-size: 25px;
    color: white;
}