.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2E5E5;
    font-size: 15px;
    padding: 5px;
    width: 100%;
    height: 20%;
    border-radius: 20px 20px 0 0;
}

.dark.header {
    background-color: #434242;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #CE7777;
    width: 90%;
}

.dark.navbar {
    color: #FFFBEB;
}

.navItem {
    display: block;
    height: 100%;
    margin-left: 7px;
    cursor: pointer;
}

.navItem:hover {
    opacity: 0.8;
}

.selected.navItem::after {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #DC3535;
}

.dark.selected.navItem::after {
    background-color: #434242;
}

.theme {
    color: #FFFBEB;
    width: 10%;
    font-size: 20px;
    cursor: pointer;
}

.dark.theme {
    color: #CE7777;
}