.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222439;
    font-size: 15px;
    padding: 5px;
    width: 100%;
    height: 20%;
    border-radius: 20px 20px 0 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #F1842F;
    width: 90%;
}

.navItem {
    display: block;
    height: 100%;
    margin-left: 7px;
    cursor: pointer;
}

.navItem:hover {
    opacity: 0.8;
}

.selected+.navItem::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #fff;
    display: block;
}

.theme {
    color: #fff;
    width: 10%;
    font-size: 20px;
}