@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

body {
  cursor: default;
  display: flex;
  justify-content: center;
}


* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}


a {
  text-decoration: none;
  color: inherit;
}


button {
  cursor: pointer;
}

button,
textarea,
input {
  font-size: 16px;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  border: none;
  background-color: #fff;
}

button:focus,
button:active,
textarea:focus,
textarea:active,
input:focus,
input:active {
  outline: none;
  box-shadow: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}